.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.nav-icon {
  font-size: 1.6rem;
}
